*{ margin:0px; padding:0px;}
a img{ border:0px;}
body{ background:url(../images/body.jpg) repeat-x 0 -15px;}
.c{ clear:both; display:block;}
.all{ width:976px; margin:0 auto;}
.logo{ margin-top:38px; float:left;}
.login{ width:100%; height:369px; position:relative; float:left; margin-top:65px; background:url(../images/houtai.jpg) no-repeat;}
.login div{ width:360px; margin:30px auto;}
.login span{ font-size:14px; font-weight:bold; font-family:"ו"; float:left; line-height:32px;}
.login span e{ color:#fafafa;}
.login p{ float:left;}
.login .p1{width:248px; height:32px;}
.login .p2{width:248px; height:32px;}
.login .p3{width:298px; height:32px;}
.login .p3 img{ height:30px; width:145px; border:solid 1px #8d9aa3; float:right;}
.login .p3 .text1{ height:30px; width:145px; border:solid 1px #8d9aa3; float:left;}
.login .text{ height:32px; line-height:32px; border:0px; float:right; width:262px; margin-right:2px; float:right; display:inline; background:none;}
.login .but{ width:154px; height:46px;  background:url(../images/houtaiBut.jpg) no-repeat;  border:0px; position:absolute; left:410px; bottom:80px; cursor:pointer;}
.login .msg{width:100%; text-align:center; font-size:12px; line-height:20px;  position:absolute; left:0; bottom:10px;}
#message{width:100%; text-align:center; color:#ff0000;}
.bibu{ margin-top:30px; margin-bottom:20px; width:100%; float:left; text-align:center; font-size:12px; line-height:20px; color:#666666;}