/*
description:首页样式;
author:chexiaoting(2016-08-19 13:34:06);
update:;
*/

/*导入application.css 相关的css开始*/
@import url("../common/application.css");
/*导入application.css 相关的css结束*/

/*导入supports.css开始*/
@import url("../sys/supports.css");
/*导入supports.css结束*/

/*全新自定义的common.css*/
@import url("../common/common.css");
