.c543{min-height:53px;padding:25px 0 5px 0;border-bottom:solid 2px #f5f5f5;padding-left:20px;overflow:hidden;text-align:center;}
.c543 a{display:inline-block;color:#89af12;height:25px;line-height:25px;padding:0 20px;margin:0 10px 10px 0;border-radius:3px;font-size:13px;}
.c543 a:hover,.c543 a.c544{background:#d2dc00;color:#fff;}

.l1{background:none;}
.l1 .c777{background:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}

/*发布分享*/
.l1 .c201{background: none repeat scroll 0% 0% #FFF;
border-radius: 5px;
margin-bottom: 16px;}
.c201{width:630px;padding:30px;}
.c201 .c208{position:relative;}
.c201 .c202,.c54 .c207{float:left;display:block;}
.c54 .c207>a{display:block;width:60px;height:60px;}
.c201 .c202 img,.c54 .c207 img{display:block;border-radius:50%;width:60px;height:60px;}
.c201 .c203{width:550px;float:right;}
.c201 .c203 .c2031{line-height:18px;overflow:hidden;}
.c54 dl dt a{font-size:14px;color:#417505;float:left;margin-right:4px;overflow:hidden;}
.c201 .c203 .c2031 a{display:block;font-size:14px;color:#417505;}
.c201 .c203 .c2031 ul{float:left;margin:0 30px 0 5px;}
.c201 .c203 .c2031 ul li,.c54 dl dt ul li{margin-right:4px;float:left;}
.c201 .c203 .c2031 ul li{cursor:pointer;}
.c201 .c203 .c2031 span{float:left;color:#9c9a9b;font-size:13px;}
.c201 textarea{height:79px;width:526px;padding:12px;background:#F6F6F6;border:none;margin:15px 0;font-size:14px;color:#000;}
.c201 .c20312{overflow:hidden;}
.c201 .c20311{float:left;font-size:13px;color:#ccc;line-height:30px;}
.c201 .c20311>span{float:left;margin-right:10px;}
.c201 .c20312 .c20311 object{float:left;margin-right:5px;}
.c201 .c20311 a{color:#ccc;}
.c201 .c20312 .button{float:right;}
.c201 .c20314{overflow:hidden;*margin-bottom:10px;}
.c201 .c20314 .uploadimg{float:left;background:#E6E6E6;border-radius:5px;height:65px;padding:7px 15px 7px 7px;margin:0 10px 10px 0;}
.c201 .c20314 .uploadimg img{width:65px;height:65px;float:left;margin-right:7px;}
.c201 .c20314 div.swfupload-preview{line-height:25px;}
.c201 .c20314 div.swfupload-preview .swfupload-progress{font-size:14px;color:#2b2b2b;}

.c201 .flash{margin:0px auto;margin-bottom:30px;}
.l1 .c54{margin-bottom:0px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.l1 .c54 .c541{height:49px;line-height:49px;background:#F6F6F6;}
.l1 .c54 .c541 span{font-size:15px;color:#000;margin-left:30px;}
.c777 #review_list_more a{height:52px;line-height:52px;text-align:center;display:block;color:#000;font-size:15px;border-top:solid 1px #EBEBEB;}
